/* Emil Zackrisson */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

.header-img{
  width: 100%;
  overflow: hidden;
  background-image: url("header-img.jpg");
  background-position: center;
  height: auto;
}


body {
    text-align: center;
    background-color: #003D6C;
    margin: 0;
}

p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-top: 30px;
}

a {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 30px;
}

h1{
  color: white
}

label {
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 1px;
    font-size: 20px;
}

select {
    margin-top: 10px;
    font-size: 20px;
}

.content {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px
}
